*.iml
*.ipr
*.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
T:humbs.db
.project
.*proj
.svn/
*.swp
*.log
.idea/
out/
node_modules/
tmp/
reports/
hsf.configuration/
target/
tree.txt
/bin/
*.settings
*.classpath
*.MF
.classpath
eclipse.bat
.settings/
package.bat
package&redepoly.bat
client/bin/*
dep
log
tempDir/
rebel.xml
web/bin/
web/velocity.log*
logs
forest
node_modules/
node-debug.log
static/dist/
static/node_modules/

# vim
*.swp
*.swo

